# Dataset demasiado pesado para GitHub
data/images/
data/labels/
data/annotations/

# Modelos entrenados descargar desde Drive
runs/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Entorno virtual
cobb_env/

# Archivos temporales
*.cache
*.log 
